.app-container {
  min-height: 100vh;
  /* background-image: linear-gradient(to right, #f4fcff, #c8f3ff); */
  background-color: #fff;
}

.app-container .app-inner {
    padding: 2rem;
}

@media only screen and (max-width: 500px) {
  .app-container .app-inner {
    padding: 2rem 0.4rem;
  }
}

iframe#webpack-dev-server-client-overlay{display:none!important}
